@import "index/index.css";
@import "theme.css";
@import "fonts.css";
@import "reset.css";




.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1125px;
    margin: 0 auto;

}