:root {
    --gray-navbar-color: #1e2d34;
    --main-text-content-color: #30444E;
    --black-heading-color: #1F2E35;
    --red-heading-color: #EE4248;
    --grey-contact-menu-color: #263238;
    --white-footer-text-color: #ffffff;
    --inform-wrapper-background: #F7F7F7;


}