.about-wrapper {

}

.about {


}
.about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    margin-top: 110px;
    margin-bottom: 165px;


}
.about-block {

}


.about__heading {
    font-weight: 500;
    font-size: 48px;
    line-height: 133.69%;
}
.about__heading-second {
    font-weight: 500;
    font-size: 48px;
    line-height: 133.69%;
    margin-bottom: 24px;
    color: var(--red-heading-color);

}
.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 24px;
    color: var(--main-text-content-color);


}
.about__button {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    background: #EE4248;
    border-radius: 4px;
    padding: 12px 32px;
    color: #FFFFFF



}
.about-section-right-block {



}
.about-section-second {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    align-content: center;


}
.about-block__img_down {

}


.about__text_up {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;


}
.about__text_down {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;




}