.contacts-wrapper {

}
.contacts {
    display: grid;
    grid-template-columns: 320px 270px;
    column-gap: 47px;
    margin-top: 110px;
    margin-bottom: 15px;

}
.contacts-adres-block {

}
.contacts-adres-block__img {
    width: 119px;
    height: 56px;
}
.contacts-adres-block__heading {
    margin-top: 20px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--grey-contact-menu-color);

}
.contacts-adres-block__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 149.19%;

}
.contacts-contact-block {
    margin-top: 35px;

}
.contacts-contact-block__heading {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--grey-contact-menu-color);

}
.contacts-contact-block__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 149.19%;

}