.inform-wrapper {
   background-color: var(--inform-wrapper-background);
}
.inform {


}
.inform-section {
    display: grid;
    grid-template-columns: 1fr 1fr;


}
.inform-section-left-block {
    margin-top: 81px;
    margin-bottom: 70px;

}
.inform-section__img_down {
    width: 452.94px;
    height: 349.42px;

}
.inform-section-right-block {
    margin-top: 57px;
    margin-bottom: 66px;

}
.inform__heading {
    font-weight: 500;
    font-size: 32px;
    line-height: 133.69%;
    margin-bottom: 24px;

}
.inform__text_up {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--main-text-content-color);
    margin-bottom: 24px;

}
.inform__text_down {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--main-text-content-color);

}
span {
    color: var(--red-heading-color);
}