.navbar-wrapper {
    background: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 133px;
    height: 100px;


}
.navbar-logo {



}
.navbar__logo {



}
.navbar-menu {
    display: flex;
    align-items: center;
}


.navbar-menu__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--gray-navbar-color);

}
.navbar-menu__item:not(:last-child){
    margin-right: 50px;
}
.navbar-social {
    display: flex;
    align-items: center;

}
.navbar-social-link {


}
.navbar-social-link:not(:last-child){
    margin-right: 24px;
}
.navbar-social-link__img {

}