.products-wrapper {

}
.products {

}
.heading__products {
    font-weight: 500;
    font-size: 32px;
    line-height: 133.69%;
    text-align: center;
    margin-top: 115px;
    margin-bottom: 45px;
}
.products-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 43px;
}
.block-product {

}
.block-product__img {
    margin-bottom: 17px;

}
.block-product-heading {
    color: #EE4248;
    font-weight: 500;
    font-size: 28px;
    line-height: 133.69%;
    margin-bottom: 15px;

}
.block-product__text {
    width: 319px;
    height: 108px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 25px;
    color: var(--main-text-content-color);


}
.block-product__bttn {
    font-weight: 400;
    font-size: 18px;
    line-height: 144.69%;
    background: #EE4248;
    border-radius: 4px;
    padding: 8px 16px;
    color: white;
    width: 120px;
    height: 42px;

}
.block-service {

}
.block-service__img {
    margin-bottom: 17px;

}
.block-service-heading {
    color: #EE4248;
    font-weight: 500;
    font-size: 28px;
    line-height: 133.69%;
    margin-bottom: 17px;

}
.block-service__text {
    width: 329px;
    height: 108px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 25px;
    color: var(--main-text-content-color);


}
.block-technology {

}
.block-technology__img {
    margin-bottom: 17px;

}
.block-technology-heading {
    color: #EE4248;
    font-weight: 500;
    font-size: 28px;
    line-height: 133.69%;
    margin-bottom: 15px;

}
.block-technology__text {
    width: 329px;
    height: 108px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 25px;
    color: var(--main-text-content-color);


}